@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.no-scroll {
  position: fixed;
  inline-size: 100%;
}

.main-container {
  @apply max-w-[1140px] mx-auto xl:px-0 px-4;
}

.swiper-wrapper {
  @apply md:gap-2 gap-1 justify-between;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

/* Скрытие скроллбара */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

.min-h-screen {
  min-height: 100vh;
}

.leaflet-control-container {
  z-index: 0 !important;
}

.leaflet-control {
  z-index: 0 !important;
}

footer {
  z-index: 9999 !important;
  pointer-events: auto !important;
}

footer a {
  pointer-events: auto !important;
}

main {
  padding-bottom: 80px;
}